<!-- <p>addition of two number</p>
<div nz-row nzJustify="start">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
  <div nz-col nzSpan="4">
    <app-generic-calculation [number1]="in1" [number2]="in2" [operation]="'+'"
            (onResult)="value = $event"></app-generic-calculation>
  </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4">
      {{value}}
    </div>
  </div>
   <p>substract of two number</p>
<div nz-row nzJustify="start">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
  
  <div nz-col nzSpan="4">
    <app-generic-calculation [number1]="in1" [number2]="in2" [operation]="'-'"
            (onResult)="value = $event"></app-generic-calculation>
  </div>
  </div>
<div nz-row>
  <div nz-col nzSpan="4">
   <button nz-button nzType="primary" (click)="add()">Click</button>
  </div>
  <div nz-col nzSpan="4">
   <button nz-button>Reset</button>
  </div> 
</div>
<div nz-row>
  <div nz-col nzSpan="4">
    {{value}}
  </div>
</div>


<p>multiplication of two number</p>
<div nz-row nzJustify="start">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
  
  <div nz-col nzSpan="4">
    <app-generic-calculation [number1]="in1" [number2]="in2" [operation]="'*'"
            (onResult)="value = $event"></app-generic-calculation>
  </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4">
      {{value}}
    </div>
  </div> 

  <p>Devision of two number</p>
<div nz-row nzJustify="start">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
-->

<div nz-row>
  <div nz-col nzSpan="4">
    <app-generic-calculation [model]="calcModel" (onResult)="value = $event"></app-generic-calculation>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="4">
    {{value}}
  </div>
</div>

<div nz-row nzJustify="start">
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
  <nz-select nzPlaceHolder="choose" [(ngModel)]="operation">
    <nz-option nzValue="+" nzLabel="Sum"></nz-option>
    <nz-option nzValue="-" nzLabel="sub"></nz-option>
    <nz-option nzValue="*" nzLabel="multi"></nz-option>
    <nz-option nzValue="/" nzLabel="div"></nz-option>
  </nz-select>
  <nz-button-group>
    <button nz-button nzType="primary" (click)="setValues()">
      <span nz-icon nzType="left"></span>
      Click
    </button>
  </nz-button-group>
</div>


<div nz-row>
  <div nz-col nzSpan="4">
    {{counterService.count}}
  </div>
  <div nz-col nzSpan="4">
    <nz-button-group>
      <button nz-button nzType="primary" (click)="counterService.add()">
        <span nz-icon nzType="left"></span>
        Add
      </button>
    </nz-button-group>
  </div>
</div>