<div nz-row>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in1">
  </div>
  <div nz-col nzSpan="4">
    <input nz-input placeholder="Basic usage" type="number" [(ngModel)]="in2">
  </div>
  <div nz-col nzSpan="4">
    <!--    <app-generic-calculation [number1]="1212" [number2]="213213" [operation]="'+'"></app-generic-calculation>-->
  </div>
  <div nz-col nzSpan="4">
    <app-generic-calculation [number1]="in1" [number2]="in2" [operation]="'+'"
            (onResult)="value = $event"></app-generic-calculation>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="4">
<!--    <button nz-button nzType="primary" (click)="add()">Click</button>-->
  </div>
  <div nz-col nzSpan="4">
<!--    <button nz-button>Reset</button>-->
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="4">
    {{value}}
  </div>
</div>